﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        this is william this is venom this is eddie ths is spiderman this is iron man
        <asp:TextBox ID="txtOrderID" runat="server" Text="0"></asp:TextBox>
        <asp:Button ID="btnView" runat="server" Text="View" OnClick="btnView_Click"/>
        <asp:GridView ID="gvOrderDetail" runat="server"></asp:GridView>
    </div>
    </form>
</body>
</html>
